
<h1>About US</h1>
<h1>This is my first go at doing an app.</h1>
<p>Click here to see my dog <%= 	link_to "Leo", "https://www.facebook.com/photo.php?fbid=703972942948579&set=pb.178767072135838.-2207520000.1385972050.&type=3&theater", class: "btn btn-primary" %> . </p>